<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <main>
            <div v-if="showProduct">
                <figure>
                    <img v-bind:src="product.image" alt="Product Image">
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-html="product.description"></p>
                <p>Price: {{ product.price }}</p>

                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>

                <button disabled v-else>
                    Add to cart
                </button>

                <button v-on:click="toggleCheckout">
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span> Checkout
                </button>
            </div>

            
            <div v-else>
                <h2>Checkout</h2>
                <p>Your cart has {{ cartItemCount }} item(s).</p>
                <button v-on:click="toggleCheckout">Back to Shopping</button>
            </div>
        </main>
    </div>

    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js Pet Depot',
                product: {
                    id: 1001,
                    title: "Cat Food, 25lb bag",
                    description: "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat",
                    price: 2000,
                    image: "images/Product.jpg",
                    availableInventory: 5,
                },
                cart: [], 
                showProduct: true, // Toggle between product view and checkout
            },
            methods: {
                addToCart() {
                    if (this.canAddToCart) {
                        this.cart.push(this.product.id);
                    }
                },
                toggleCheckout() {
                    this.showProduct = !this.showProduct;
                },
            },
            computed: {
                cartItemCount() {
                    return this.cart.length || "";
                },
                canAddToCart() {
                    return this.product.availableInventory > this.cart.length;
                }
            },
        });
    </script>

</body>
</html>
